# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment variables (secrets)
.env
.env.local
.env.*

# Qdrant local storage
qdrant_storage/
qdrant_data/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

#auth0
client_id=S5Yi1n7vaAO7dBjmqLSp89WsWYDGgJL8
client_secret=JhYUR232waEae4Zo_7S6Oae3epa6FwYy0wR02vnik_u65EwMYT2JKofng433Mx74

admin_user_token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkNjMXJvU0dDbnVvV2tvQkJabXhITCJ9.eyJpc3MiOiJodHRwczovL2VudGVycHJpc2UtY29waWxvdC5qcC5hdXRoMC5jb20vIiwic3ViIjoiOEVWcG9qRTRUT2dEVTVCb2JjYXUyQ2ZaM1dDNk0zem5AY2xpZW50cyIsImF1ZCI6IlM1WWkxbjd2YUFPN2RCam1xTFNwODlXc1dZREdnSkw4IiwiaWF0IjoxNzg5MjM4NzAxLCJleHAiOjE3ODkzMjUxMDEsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyIsImF6cCI6IjhFVnBvakU0VE9nRFU1Qm9iY2F1MkNmWjNXQzZNM3puIn0.fLDneDEaiAd7O0jA5h94WDlszbXeOSGMWbTSxyeecZ8QHqysvNFHnPEIM_GQesVqgV4NsmTi8y8u6nDx5fQQr2ro4lb7KxF2jNlxIuZ8I-a4tLQTjbGHoMNAejeyD5vDmNST6WSpZX33Q5-yulLMCpBbb1WJnSkcs11LOXQ498tKlhFUK5As4f9azith17_9bwdFj8Y2HcMlqTutwN-TXs0TG8FE-Z5JzQLn7Fqsh3ypavI-cFvU8HamnuiuamL_aJCB65gtp-O2qUcGCaXiqfshM84VYza9UPQ2POVH1RWHyTmmEo2bX7LTN7-3tiK-3MJU8vFznuqBIkgCvqHF2A
